<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="cppcoreguidelines" ToolsVersion="17.0">
  <Include Path="cppcorecheckconstrules.ruleset" Action="Default" />
  <Include Path="cppcorecheckfuncrules.ruleset" Action="Default" />
  <Include Path="mixedminimumrules.ruleset" Action="Default" />
</RuleSet>